@import "~normalize.css/normalize.css";
@import "font/flaticon.css";
@import "helper.less";
@import '~react-dates/css/variables';
@import '~react-dates/css/styles.scss';

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42857143;
    color: #353535;
    background-color: white;
    margin: 0;
}

h1, h3, h3 {
    margin: 10px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.header {
    padding: 15px 20px 30px;
    .header-inner {
        border-bottom: 1px solid #e2e2e2;
    }
    .logo {
        display: inline-block;
        span:before {
            font-size: 60px;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fbfbfb;
    box-shadow: 0px -1px 5px #ded6d6;
    min-height: 100%;
}

.main {
    padding: 30px 0;
    width: 900px;
    margin: auto
}

.search-box {
    width: 900px;
    margin: auto;
}

.search-container {
    display: inline-block;
    height: 180px;
    width: 80%;
    clear: both;
}

.search-inputs {
    clear: both;
    .search-input {
        width: 50%;
        height: 65px;
        padding: 20px;
        outline: none;
        border: none;
        background-color: #c5c5c5;
        border-right: 1px solid #fefefe;
        float: left;
        color: white;
    }

    .search-input:focus {
        background-color: #adadad;
    }
}

.search-params {
    height: 115px;
    background-color: #bbbbbb;
    clear: both;

    .search-params-box {
        width: 25%;
        border-right: 1px solid #fbfbfb;
        text-align: center;
        height: 100%;
        vertical-align: top;
        cursor: pointer;
        float: left;
    }

    .search-params-box:hover {
        background-color: #adadad;
    }

    .search-params-title {
        color: white;
        font-size: 11px;
        text-transform: uppercase;
        margin-top: 20px;
        display: block;
    }
}

.params-wrapper {
    color: white;

    .params-hero {
        font-size: 48px;
        display: inline-block;
    }

    .params-small {
        font-size: 11px;
        display: inline-block;
        text-align: left;
    }
}

.search-btn {
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;

    .search-submit {
        padding: 82px 30px 83px;
        display: inline-block;
        font-size: 11px;
        letter-spacing: 3px;
        background-color: #ee4500;
        color: white;
        text-transform: uppercase;
    }

    .search-submit:hover {
        background-color: #ff4a00;
    }
}

.results-wrapper {
    border-top: 1px solid #e2e2e2;
    margin-top: 50px;
    padding-top: 50px;
}

.result-box {
    margin: 5px 0;
    padding: 0 10px;
    background-color: white;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 19px #e7e7e7;
}

.flight-info {
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
    clear: both;

    .carier {
        font-size: 11px;
        color: #a0a0a0;
    }

    .price {
        float: right;
        color: #ee4500;
        font-weight: bold;
    }

    .start {
        padding-bottom: 5px;
    }
}

.flight-info:last-of-type {
    border: none;
}


/* plugin override */
.react-date-picker__calendar{
    display: none;
}